<div class="panel panel-danger">
  <div class="panel-heading">
    <% count = resource.errors.count %>
    <% resource_name = resource.class.model_name.human.downcase %>
    <%= I18n.t "errors.messages.not_saved", count: count, resource: resource_name %>
  </div>

  <div class="panel-body">
    <ol>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ol>
  </div>
</div>
